@import 'src/styles/variables';

.menu-container {
  padding: 10px;
  width: 200px;
}

.menu-input {
  display: flex;
  align-items: center;
  margin-top: 38px;
  color: $colorSimpleText;
  fill: $colorSimpleText;
  stroke: $colorSimpleText;
  transition: 0.2s;



  &:hover {
    color: $colorAccent;
    fill: $colorAccent;
    stroke: $colorAccent;
    transform: translate(15px, 0px) ;
  }
}

.activeLink .menu-input {
  color: $colorAccent;
  fill: $colorAccent;
  stroke: $colorAccent;
  transform: translate(15px, 0px) ;
}

.menu-text {
  @include menuInputText;
  margin-left: 8px;
}
