$border: 1px solid #DBDBDB;
$colorAccent: #FFA500;
$colorText: #0D062D;
$colorSimpleText: #787486;
$colorLight: #fff;
$colorMoreLight: #65676D;
$fontSF: 'SF Pro Text', sans-serif;

@mixin projectLogoText {
  font: {
    family: 'Nunito', sans-serif;
    size: 24px;
    weight: 600;
  }
  color: var(--project-text-color)
}

@mixin titleText {
  font: {
    family: 'SF Pro Text', sans-serif;
    weight: 700;
  }
  color: var(--project-text-color)
}

@mixin titleText {
  font: {
    family: 'SF Pro Text', sans-serif;
    weight: 700;
  }
  color: var(--project-text-color)
}

@mixin menuInputText {
  font: {
    family: 'Nunito', sans-serif;
    size: 16px;
    weight: 500;
  }
}

@mixin calendarText {
  font-weight: 600;
  font-size: 14px;
  font-family: $fontSF;
}

@mixin grayText {
  font-weight: 600;
  font-size: 18px;
  font-family: $fontSF;
  color: $colorSimpleText;
}

@mixin style-cards {
  background-color: var(--cards-color);
  padding: 28px;
  border-radius: 20px;
  overflow: hidden;
}

