@import 'src/styles/variables';

.header-container {
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: $border;
}

.logo-container {
  display: flex;
  align-items: center;
  border-right: $border;
  width: 250px;
  height: 100%;
}

.logo-text {
  @include projectLogoText;
  margin-left: 8px;
}
