html[data-theme = "light"] {
  --backgroand-color: #fff;
  --cards-color:#F5F5F5;
  --project-text-color: #0D062D;
  --toogle-round: #fff;
}

html[data-theme = "dark"] {
  --backgroand-color: #1D1E2C;
  --cards-color:#24263A;
  --project-text-color: #DBDFEA;
  --toogle-round: #DBDFEA;
}


